* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Courier New', Courier, monospace;
}
.container {
    display: grid;
    grid-template: 1fr auto / 1fr auto ;
    height: 50vh;
}
.main-content {
    background-color: grey;
    padding: 1rem;
}
.aside-content {
    background-color: beige;
    padding: 1rem;
}
h1 {
    text-align: center;
    font-size: 1.5rem;
    background-color: darkslategray;
    color: white;
    padding: 1rem;
}
p, li{
    font-weight: bold;
} 
nav {
    margin: 0 auto;
} 
.navigation {
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align:  center;
    background-color:seagreen;
    padding: 1rem;
    color: white;
} 
.navigation li {
    flex: 1 1 auto;
}
.navigation a {
    text-decoration: none;
}
footer{
    background-color: darkslategrey;
    color: white;
    text-align: center;
    padding: 30px;
}
